@font-face {
  font-family: AzeretMono-Light;
  src: url('./AzeretMono-Light.ttf') format('ttf');
}

@font-face {
  font-family: Arial;
  src: url('./AzeretMono-Bold.ttf') format('ttf');
}

* {
  box-sizing: border-box;
  font-family: AzeretMono-Light, Arial;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
}

:root {
  --logo-color: #214bc8;
  --main-bg-color: rgb(210, 214, 211);
  --container-color: rgb(218, 231, 222);
  --btn-color: #596e9b;
  --btn-hover-color: rgb(41, 78, 193);
  --box-shadow: 12px 12px 20px 1px rgba(0, 0, 255, 0.116);
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--btn-hover-color);
  width: 100vw;
}

.loading-bar {
  background-color: yellowgreen;
  text-align: center;
}

/* //// Landing Page Start //// */
.landing-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.signbtn-container {
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: flex-end;
}

#signBtn {
  font-weight: bold;
  background-color: var(--btn-color);
  color: white;
  border-style: none;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
}

#signBtn:hover {
  background-color: var(--btn-hover-color);
}

.main-container {
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.main {
  background-color: var(--container-color);
  width: 50%;
  padding: 2rem;
  box-shadow: var(--box-shadow);
  align-items: center;
  display: flex;
  flex-direction: column;
}

#none {
  width: 48%;
  margin-bottom: 15px;
  background-color: violet;
  opacity: 0.1;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 4rem;
  color: rgba(13, 13, 224, 0.918);
  /* animation: fadein 3s;
  -moz-animation: fadein 3s; 
  -webkit-animation: fadein 3s; 
  -o-animation: fadein 3s;  */
}
@keyframes fadein {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /*Firefox*/
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /*Safari and Chrome*/
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /*Opera*/
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

.logo-container img {
  width: 48%;
  margin-bottom: 15px;
  animation: fadein 3s;
  -moz-animation: fadein 3s; /*Firefox*/
  -webkit-animation: fadein 3s; /*Safari and Chrome*/
  -o-animation: fadein 3s; /*Opera*/
}

.intro {
  /* min-width: 400px; */
  line-height: 2rem;
  text-align: center;
  word-break: break-all;
}

#start-btn {
  width: 50%;
  font-size: 26px;
  font-family: 'AzeretMono-Bold';
  padding: 1rem;
  border-style: none;
  margin-bottom: 20px;
  margin-top: 30px;
  border-radius: 5px;
  background-color: #596e9b;
  color: white;
  cursor: pointer;
}

#start-btn:hover {
  background-color: var(--btn-hover-color);
}

#footer {
  width: 100vw;
  text-align: center;
  line-height: 60px;
  background-color: rgb(188, 206, 207);
  padding: 1rem;
  height: 60px;
}

/* //// Login Page Start //// */
.LoginContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

.LoginContainer > .mainContainer {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--main-bg-color);
  box-shadow: var(--box-shadow);
}

#backBtn {
  font-size: 2rem;
}

#login-backbtn-container {
  position: absolute;
  left: 5%;
  top: 5%;
}

#backBtn:hover {
  cursor: pointer;
  color: var(--btn-hover-color);
}

.LoginContainer > .mainContainer > article > .logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  color: rgba(13, 13, 224, 0.918);
  animation: fadein 3s;
  -moz-animation: fadein 3s; /*Firefox*/
  -webkit-animation: fadein 3s; /*Safari and Chrome*/
  -o-animation: fadein 3s; /*Opera*/
}

#login-logo-wrap {
  max-width: 230px;
  padding-top: 16px;
}

.LoginContainer > .mainContainer > article .logosample {
  width: 60px;
  height: 60px;
  background-color: rgba(39, 39, 185, 0.918);
  border-radius: 1rem;
}

.LoginContainer > .mainContainer > article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 1px var(--container-color) solid;
  padding: 0;
  margin: 0;
  height: 65vh;
  background-color: var(--container-color);
}

.LoginContainer > .mainContainer > article > button {
  width: 260px;
  height: 40px;
  border: 1px solid var(--container-color);
  border-radius: 5px;
  margin: 10px;
  color: white;
  background-color: var(--btn-color);
}

.LoginContainer > .mainContainer > article > button:hover {
  cursor: pointer;
  color: var(--btn-hover-color);
}

#GithubBtn {
  background-color: black;
  color: white;
}

.LoginContainer > .mainContainer > article > input {
  width: 260px;
  height: 40px;
  border: 1px solid var(--container-color);
  border-radius: 5px;
  margin: 8px;
  outline-style: none;
}

.seperatingLine {
  display: flex;
  flex-basis: 100%;
  margin: 10px 0px;
  align-items: center;
  font-size: 12px;
  color: black;
}
.seperatingLine::before,
.seperatingLine::after {
  content: '';
  flex-grow: 1;
  background: black;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 70px;
}

.mainContainer > .errorMessage {
  color: red;
  font-size: 12px;
}
/* //// Login Page End //// */

/* //// Profile Page Start //// */
.profile-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

.profile-container > .main-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--main-bg-color);
  box-shadow: var(--box-shadow);
}

.profile > .logo-container {
  width: 15vw;
  min-width: 230px;
  padding-top: 30px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  height: 60vh;
  background-color: var(--container-color);
}

#profile-backbtn-container {
  position: absolute;
  left: 5%;
  top: 5%;
}

.profile-header {
  text-align: center;
  font-family: 'AzeretMono-Bold';
  color: var(--logo-color);
  flex: 2;
}

.profile-header > h1 {
  margin-top: 0;
  margin-bottom: 5px;
}

.profile-header > span {
  font-size: 0.8rem;
}

.profile-btns {
  display: flex;
  flex-direction: column;
  flex: 1.5;
}

.profile-btns > button {
  width: 260px;
  height: 40px;
  border: 1px solid var(--container-color);
  border-radius: 5px;
  margin: 10px;
  color: white;
  background-color: var(--btn-color);
}

.profile-btns > .change-btn:hover {
  color: var(--btn-hover-color);
  cursor: pointer;
}

.seperating-line {
  font-size: 12px;
  margin: 15px;
}

.profile-btns > .delete-account-btn:hover {
  background-color: var(--btn-hover-color);
  cursor: pointer;
}

/* //// popup css //// */
.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(222, 220, 220, 0.5);
}

.popup-inner {
  position: absolute;
  left: 35vw;
  right: 35vw;
  top: 28vh;
  bottom: 20vh;
  margin: auto;
  background: var(--container-color);
  box-shadow: var(--box-shadow);
}

#popup-close-btn {
  text-align: center;
  font-size: 1.3rem;
  margin-top: 10px;
}

#popup-close-btn:hover {
  color: var(--btn-hover-color);
  cursor: pointer;
}

.popup-inner-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.popup-inner > .ask {
  font-size: 1rem;
  line-height: 2.5vh;
}

.popup-inner h1 {
  font-size: 1.5rem;
  color: var(--btn-hover-color);
  margin-top: 30px;
}

.popup-inner-body > .edit {
  width: 20vw;
  height: 40px;
  border: 1px solid var(--container-color);
  border-radius: 5px;
  margin: 8px;
  outline-style: none;
}

.popup-inner-body > .edit::placeholder {
  color: rgba(136, 136, 140, 0.961);
}

.popup-inner-body > button {
  width: 20vw;
  height: 40px;
  border-style: none;
  border-radius: 5px;
  margin: 10px;
  color: white;
  background-color: var(--btn-color);
}

.popup-inner-body > button:hover {
  color: var(--btn-hover-color);
  cursor: pointer;
}

/* //// Profile Page End //// */

#signup-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
}

#signup-backbtn-container {
  display: flex;
}

#signup-backbtn-container {
  position: absolute;
  left: 5%;
  top: 5%;
}

#signupComp-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

#signupComp {
  width: 300px;
  padding: 30px 0px 10px 0px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--container-color);
  text-align: center;
  border: 1px var(--container-color) solid;
  height: 65vh;
}

#signupComp > div,
#signupComp > div > div {
  width: fit-content;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
}

#signupComp button {
  width: 200px;
  height: 40px;
  color: white;
  background-color: var(--btn-color);
  border-style: none;
  border-radius: 5px;
}

/* box-sizing: border-box;
width: 50%;
font-size: 24px;
padding: 1rem;
border-style: none;
margin-bottom: 20px;
margin-top: 30px;
background-color: #596e9b;
color: white;
cursor: pointer; */

#signupComp button:hover {
  cursor: pointer;
  color: var(--btn-hover-color);
}

#signupComp label {
  font-size: 15px;
  color: rgb(143, 23, 23);
}

.signupComp-input {
  width: 260px;
  height: 40px;
  padding: 0.4rem;
  margin: 8px 0px 8px;
  border: 1px solid var(--container-color);
  border-radius: 5px;
  outline-style: none;
}

#Collect-container {
  width: 85vw;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 20px;
  background-color: var(--container-color);
  flex: 1;
  align-content: center;
}

.Collect-textinput {
  width: 50%;
  min-width: 280px;
  resize: none;
  border-style: none;
}

.Collect-textinput:focus {
  outline: none;
}

.Collect-textinput::placeholder {
  text-align: center;
}

.Collect-textinput.first {
  height: 50px;
}

.Collect-textinput.last {
  line-height: 100px;
  padding: 5px;
  vertical-align: text-top;
  height: 150px;
}

#Collect-emoji-container,
#Collect-btn-container {
  min-width: 200px;
  display: flex;
}

#Collect-desc-container,
#Collect-Linktextarea {
  text-align: center;
}

#Collect-btn-container {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 2px;
  padding: 5px 25%;
  min-width: 280px;
}

.Collect-btn {
  font-size: 22px;
  display: flex;
  width: 50px;
  padding: 0.5rem;
  padding-right: 0;
  margin-left: 3px;
  justify-content: flex-end;
  color: var(--logo-color);
  border-radius: 5px;
}

#Collect-showEmoji {
  margin: 8px 25%;
  line-height: 25px;
  color: white;
  border-bottom: 4.5px dotted white;
  height: 30px;
  text-align: right;
}

#Collect-showEmoji > div {
  /* position: absolute;
  left: 0; */
  float: left;
}

#Collect-emoji-container {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 25%;
}

.Collect-emojibtn {
  text-align: center;
  font-size: 25px;
  flex: 1 1;
  -webkit-transform: translateY(0px) scale(1);
  -moz-transform: translateY(0px) scale(1);
  -ms-transform: translateY(0px) scale(1);
  -o-transform: translateY(0px) scale(1);
  transform: translateY(0px) scale(1);
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.Collect-emojibtn:hover {
  -webkit-transform: translateY(-6px) scale(1.5);
  -moz-transform: translateY(-6px) scale(1.5);
  -ms-transform: translateY(-6px) scale(1.5);
  -o-transform: translateY(-6px) scale(1.5);
  transform: translateY(-6px) scale(1.5);
  cursor: pointer;
}

.Collect-btn:hover {
  cursor: pointer;
  color: var(--btn-hover-color);
}

.mypageBackground {
  margin: 0;
  max-width: 100vw;
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: var(--main-bg-color);
}

#alarm {
  /* flex: 1; */
  background-color: rgba(255, 255, 5, 0.479);
  height: 80px;
  width: 85vw;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 20px;
  vertical-align: middle;
  line-height: 80px;
}

/* ///////alarm css start////// */

#alarm-alert {
  color: var(--logo-color);
  font-weight: bold;
  height: 80px;
  display: flex;
  justify-content: center;
  align-content: center;
}

#alarm-alert > div {
  width: 60vw;
  height: 80%;
  -webkit-animation: blink 2s ease-in-out infinite alternate;
  -moz-animation: blink 2s ease-in-out infinite alternate;
  animation: blink 2s ease-in-out infinite alternate;
  border: dotted 3px var(--logo-color);
}
/* #alarm-alert:before {
  content: "There are 7 Collects you haven't checked.  Start to Recollect !";
  color: blue;
  font-weight: bold;
  -webkit-animation: blink 2s ease-in-out infinite alternate;
  -moz-animation: blink 2s ease-in-out infinite alternate;
  animation: blink 2s ease-in-out infinite alternate;
  border: dotted 3px blue;
  padding: 0.5rem;
  margin-right: 1em;
} */

#alarm-alert > div:hover {
  cursor: pointer;
  transform: translateY(0px) scale(1.2);
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.mypageBackground .logo-container {
  width: 35vw;
}

/* Nav CollectionEditor Start */
.nav.lower {
  flex: 0.3;
  /* background-color: var(--container-color); */
  width: 85vw;
  font-size: 20px;
  text-align: right;
  margin-top: 20px;
}

.editBtn {
  width: 80px;
  height: 40px;
  font-weight: bold;
  background-color: var(--btn-color);
  color: white;
  border-style: none;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.5rem;
  cursor: pointer;
}

/* BookMark_ReadMode Start */

.bookmarkContainer {
  /* https://stackoverflow.com/questions/32802202/how-to-center-a-flex-container-but-left-align-flex-items */
  width: 85vw;
  padding-top: 30px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, max-content));
  grid-gap: 10px;
  justify-content: center;
  justify-items: center;
  background-color: var(--container-color);
  box-shadow: var(--box-shadow);
  flex: 2;
}

.bookmark {
  width: 190px;
  height: 190px;
  display: flex;
  flex-direction: column;
  border: none;
  margin-bottom: 30px;
  padding: 4px;
}

.bookmark:hover {
  cursor: pointer;
}

#emoji {
  font-size: 1.3rem;
}

.mouseHover {
  width: 90%;
  height: 100%;
  /* display: flex;
  justify-content: flex-start;
  align-items: center; */
  flex-wrap: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space:nowrap;*/
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.mouseOut {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav.upper {
  padding-right: 20px;
  width: 100vw;
  flex: 0.5;
  justify-content: flex-end;
  display: flex;
}

/* BookMark_EditMode  */

.bookmarkEditContatiner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.bookmarkWidthEdit {
  width: 190px;
  height: 190px;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  border: none;
  padding: 4px;
}

.bookmarkWidthEdit:hover,
.bookmarkDeleteBtn button:hover {
  background-color: var(--btn-color);
  cursor: pointer;
}

.bookmarkWidthEdit:focus {
  background-color: red;
}

.bookmarkDeleteBtn {
  display: flex;
  justify-content: flex-start;
  margin: 6px 0px;
}

.bookmarkDeleteBtn button {
  width: 30px;
  height: 30px;
  font-weight: bold;
  background-color: var(--container-color);
  color: black;
}

.profilebtn-container {
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: flex-end;
}

#profileBtn {
  background-color: var(--btn-color);
  color: white;
  border-style: none;
  border-radius: 5px;
  padding: 0.5rem 0.7rem;
  margin: 1rem;
  cursor: pointer;
}
#profileBtn > i {
  font-size: 25px;
}

#profileBtn:hover {
  background-color: var(--btn-hover-color);
}

.recollect-container {
  margin: 0;
  max-width: 100vw;
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: var(--main-bg-color);
}

.recollect-container .logo-container {
  width: 35vw;
}

#recollect-backbtn-container {
  position: absolute;
  left: 5%;
  top: 5%;
}

.scroll-to-top {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: var(--btn-color);
  color: white;
  text-align: center;
  line-height: 40px;
  border-style: none;
  position: absolute;
  top: 90%;
  left: 95.5%;
}
