* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
}

:root {
  --main-bg-color: rgb(210, 214, 211);
  --container-color: rgb(218, 231, 222);
  --btn-color: #596e9b;
  --btn-hover-color: rgba(39, 39, 185, 0.918);
  --box-shadow: 12px 12px 20px 1px rgba(0, 0, 255, 0.116);
}

.landing-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.signbtn-container {
  background-color: rgb(210, 214, 211);
  display: flex;
  justify-content: flex-end;
}

#signBtn {
  font-weight: bold;
  background-color: #596e9b;
  color: white;
  border-style: none;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
}

#signBtn:hover {
  background-color: rgba(39, 39, 185, 0.918);
}

.main-container {
  background-color: rgb(210, 214, 211);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.main {
  background-color: rgb(218, 231, 222);
  width: 50%;
  padding: 2rem;
  box-shadow: 12px 12px 20px 1px rgba(0, 0, 255, 0.116);
  align-items: center;
  display: flex;
  flex-direction: column;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 4rem;
  color: red;
  color: rgba(13, 13, 224, 0.918);
  /*animation: fadein 3s;
  -moz-animation: fadein 3s;  Firefox 
  -webkit-animation: fadein 3s;  Safari and Chrome
  -o-animation: fadein 3s;  Opera */
}
/*@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { Firefox
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { Safari and Chrome
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { Opera 
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}*/

.logosample {
  width: 100px;
  height: 100px;
  background-color: rgba(39, 39, 185, 0.918);
  border-radius: 1rem;
}

.intro {
  line-height: 2rem;
  text-align: center;
}

#start-btn {
  box-sizing: border-box;
  width: 50%;
  font-size: 24px;
  padding: 1rem;
  border-style: none;
  margin-bottom: 20px;
  margin-top: 30px;
  background-color: #596e9b;
  color: white;
  cursor: pointer;
}

#start-btn:hover {
  background-color: rgba(39, 39, 185, 0.918);
}

#footer {
  text-align: center;
  line-height: 60px;
  background-color: rgb(188, 206, 207);
  padding: 1rem;
  height: 60px;
}

/* //// Login Page Start //// */
.LoginContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

.LoginContainer > .mainContainer {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--main-bg-color);
  box-shadow: var(--box-shadow);
}

#backBtn {
  display: flex;
  justify-content: flex-start;
  font-size: 2rem;
}

#backBtn:hover {
  cursor: pointer;
  color: var(--btn-hover-color);
}

.LoginContainer > .mainContainer > article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 1px var(--container-color) solid;
  padding: 0;
  margin: 0;
  height: 60vh;
  background-color: var(--container-color);
}

.LoginContainer > .mainContainer > article > button {
  width: 260px;
  height: 40px;
  border: 1px solid var(--container-color);
  border-radius: 5px;
  margin: 10px;
  color: white;
  background-color: var(--btn-color);
}

.LoginContainer > .mainContainer > article > button:hover {
  cursor: pointer;
  color: var(--btn-hover-color);
}

#GithubBtn {
  background-color: black;
  color: white;
}

.LoginContainer > .mainContainer > article > input {
  width: 260px;
  height: 40px;
  border: 1px solid var(--container-color);
  border-radius: 5px;
  margin: 8px;
  outline-style: none;
}

.seperatingLine {
  display: flex;
  flex-basis: 100%;
  margin: 10px 0px;
  align-items: center;
  font-size: 12px;
  color: balck;
}
.seperatingLine::before,
.seperatingLine::after {
  content: '';
  flex-grow: 1;
  background: black;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 70px;
}

.LoginerrorMessage {
  font-size: 12px;
}

/* //// Login Page End //// */

#signup-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
}

#signup-backbtn-container {
  display: flex;
}

#signup-backbtn-container {
  position: absolute;
  left: 5%;
  top: 5%;
}

#signupComp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

#signupComp {
  width: 20%;
  min-width: 320px;
  padding: 30px 30px 10px 30px;
  align-items: center;
  /* display: flex; */
  background-color: var(--container-color);
  box-shadow: 12px 12px 20px 1px rgba(0, 0, 255, 0.116);
}

#signupComp > div,
#signupComp > div > div {
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
}

#signupComp button {
  width: 200px;
  height: 40px;
  font-size: 20px;
  color: white;
  background-color: var(--btn-color);
  border-style: none;
}

/* box-sizing: border-box;
width: 50%;
font-size: 24px;
padding: 1rem;
border-style: none;
margin-bottom: 20px;
margin-top: 30px;
background-color: #596e9b;
color: white;
cursor: pointer; */

#signupComp button:hover {
  cursor: pointer;
  color: var(--btn-hover-color);
}

#signupComp label {
  font-size: 15px;
  color: rgb(143, 23, 23);
}

.signupComp-input {
  width: 260px;
  height: 40px;
  font-size: 1.1rem;
  padding: 0.4rem;
  margin: 8px 0px 8px;
  border: 1px solid var(--container-color);
  border-radius: 5px;
  outline-style: none;
}

#Collect-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: var(--main-bg-color);
}

.Collect-textinput {
  width: 90%;
  resize: none;
  border-style: none;
}

.Collect-textinput:focus {
  outline: none;
}

.Collect-textinput::placeholder {
  text-align: center;
}

.Collect-textinput.first {
  height: 50px;
}

.Collect-textinput.last {
  line-height: 100px;
  padding: 5px;
  vertical-align: text-top;
  height: 200px;
}

#Collect-emoji-container,
#Collect-btn-container {
  display: flex;
}

#Collect-desc-container,
#Collect-Linktextarea {
  text-align: center;
}

#Collect-btn-container {
  display: flex;
  margin-top: 10px;
  flex-direction: row-reverse;
  padding: 0 5%;
}

#Collect-showEmoji {
  padding: 0 5%;
  height: 20px;
  text-align: right;
}

#Collect-emoji-container {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 5%;
}

.Collect-emojibtn {
  text-align: center;
  font-size: 25px;
  flex: 1 1;
}

.Collect-emojibtn:active {
  box-shadow: 0 1em var(--btn-hover-color);
}

.Collect-btn {
  display: flex;
  width: 30px;
  color: var(--btn-color);
}

.Collect-btn:hover {
  cursor: pointer;
  color: var(--btn-hover-color);
}
